@font-face {
    font-family: "Poppins-regular";
    src: local('Poppins Regular'), local('Poppins-Regular'), url(/fonts/Poppins-Regular.woff) format('woff2');
}


@font-face {
    font-family: "Poppins-bold";
    src: local('Poppins Bold'), local('Poppins-Bold'), url(/fonts/Poppins-Bold.woff) format('woff2');
}


body {
    width: 100%;
    background: #bc2b6c;    
    font-family: 'Poppins';
    font-size: 22px;
}

p, h1, h2, small{
    color: #ffffff;    
}

small{
    font-size: 12px;
}

header, .container{
    width: 100%;
    margin: 0 auto;
}

form{
    width: 80%;
    margin: 0 auto;
}

footer{
    margin:20px 0;
}
.container{
    min-height: 500px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100%;
}

.selectpicker, .bootstrap-select>.dropdown-toggle,
 .stepwizard-step a, .dropdown-header, .dropdown-menu>li>a, .btn-primary:hover{
    color:#000 !important;    
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner{
    color: #00000059;
}
.bootstrap-select>.dropdown-toggle{
    background: #fff;
    border-radius: 50px;
    width: 90%;
    height: 40px;
    margin: 0 5%;
}

.bootstrap-select .dropdown-menu{
    min-width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 63%;
    border-radius: 20px;    
    margin: 0 5%;
}

.bootstrap-select .dropdown-menu .inner.open{
    overflow: hidden;
}


footer p {
    text-align: center;
    color: #fff;
    width: 85%;
    margin: 0px auto;
    font-size: 11px;    
}

footer a {
    color: #fff;
    text-decoration: underline;
    text-align: center;
}

.logo{    
    min-width: 8%;
    margin: 20px auto;
    align-content: center;
    display: flex;
}

h2.header{
    text-align: center;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;    
}

.setup-content p {    
    font-size: 13px;
    margin: 5px 0px 10px 6%;
}


.setup-content p:first-child{
    width: 300px;
    text-align: center;
    margin: 5% auto;
    font-size: 18px;
    line-height: 20px;
}
.form-group.custom-control.custom-radio {
    display: flex;
}

.custom-radio input#accept_terms{
    width: 20px !important;
}

.form-control {
    width: 90%;
    margin:0 auto;
}

.setup-content .field-required{
    margin: 5px 0px 10px 6%;
}

.setup-content .field-required span{
    color:#ddd0d0db;
}

.col-xs-12#more-info{
    margin-bottom: 20px;
}

.setup-content .info-required{
    margin: 5px 0px 24px 14%;
}
.form-group.custom-control.custom-radio{
    margin: 5px 0px 10px 4%;
    left: 0;
    width: 70%;
}

#helpId, #helpId a{
    color:#fff;    
}

#helpId a{
    font-weight: bold;
}
.custom-radio div.form-control{    
    padding: 0;
    border: transparent;
    height: 0;
    width: 20px;
    top: -14px;
    position: relative;
}

.custom-radio small {
    margin:0 10px;
}

#select_document{
    width: 100%;
}

.form-group{
    margin: 10px;
}

.form-group input{
    width: 90%;
    border-radius: 50px;
    height: 40px;
}
.form-group label{
    display: inline-block;
    max-width: 100%;    
    color: #fff;
    margin: 0px 6%;    
    line-height: 28px;
    font-size: 0.8em;
    font-weight: 100;
}

.stepwizard-step p {
    margin-top: 3px;    
    font-size: 12px;
}

.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin:20px 0;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 46%;
    height: 2px;
    background-color: #FFEB3B;
    z-order: 0;
    left: 26%;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #5F5F5F;    
    font-family: 'Poppins-bold';
    font-size: 1em;
    padding: 0;
}

.nextBtn, .sendBtn {
    background: #f6e537;
    width: 58%;
    margin: 30px 20%;
    height: 30px;     
    border-radius: 50px;   
    color: #000;
    font-size: 1em;    
    height: 40px;
    font-family: 'Poppins-bold'    
}

.btn-primary, .btn-primary:focus, .btn-primary:hover{
    background: #f6e537;
}

.modal-success-desktop {
    background: rgba(0, 0, 0, 0.72);
    color: #fff;
    position: fixed;
    top: 5%;
    left: 5%;
    height: 90vh;
    width: 90vw;
    transition: all .5s;
}

.modal-success-desktop .close-modal{
    position: relative;
    float: right;    
    right: 36px;
    top: 20px;
    cursor: pointer;
}


.modal-success-desktop .content-modal{
    width: 36%;
    margin: 15% auto;
}

.modal-success-desktop .content-modal h3{
    text-align: center
}
.modal-success-desktop .content-modal img{
    max-width: 20%;
    margin: 0 auto;
    display: flex;
}
.modal-success-desktop .content-modal p, .modal-success-desktop .content-modal p a {
    text-align: center;
    color: #fff;
    font-size: 14px;    
    margin: 40px;
}
.modal-success-desktop .content-modal input{
    margin: 0 auto;
    width: 31%;
    border-radius: 50px;
    color: #000;
    font-weight: bold;
    position: relative;
    display: flex;
    text-align: center;
    padding: 3% 9%;
}

